# Konfigurasi Database Production
DB_HOST=localhost
DB_NAME=gere1931_kehadiranapp
DB_USER=gere1931_kehadiranapp
DB_PASS=masukkan_password_hosting_disini

# Konfigurasi Aplikasi
APP_URL=https://nama-domain-anda.com
APP_ENV=production
