<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Apabila pengunjung secara eksplisit mengetik /public/ di URL, redirect ke URL bersih (tanpa /public/)
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /public/
    RewriteRule ^public/(.*)$ /$1 [R=301,L]

    # Silently pass all requests to the public directory
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_URI} !^/deploy\.php$
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
